@import url("~/platform.css");
@import '~nativescript-theme-core/css/core.light.css';
 

/*FontAwesome*/
.fa {
  font-family: "FontAwesome";
}

Page {
    background-color: white;
    font-size: 15;
  }
  TextField {
    padding: 10;
    font-size: 13;
  }

  .small-spacing {
    margin: 5;
  }
  .medium-spacing {
    margin: 10;
  }

  /*Theme */
  .action-bar{
    background-color: #CB1D00;
    color:#FFFFFF;
  }
  /*Btns*/
  .btn-red{
    background-color:#CB1D00;
    color:#FFFFFF;
  }


  /*Theme end*/

  /**/
  .content_margin {
    margin-top:5;
    margin-left: 10;
    margin-right:10;
  }

